{% extends "base.html" %}

{% block content %}
<h1>Home.html</h1>
<div class="posts d-flex flex-wrap justify-content-center p-3">
    {% for i in data %}
      <div class="card" style="width: 15rem; margin: 5px; padding: 5px;">
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.content}}.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author: {{i.author.name}}</li>
            <li class="list-group-item">Catagory: 
                {% for c in i.catagory.all %}
                <div class="btn btn-warning">
                    {{c.name}}
                </div>
                {% endfor %}
            </li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="d-flex">
            <a href="{% url 'edit_post' i.id %}" class="card-link btn btn-warning">Edit</a>
            <a href="{% url 'delete_post' i.id %}" class="card-link btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock content %}


