{% extends "base.html" %} {% block content %}
<div style="width: 50%; height: 500px; margin: auto" class="pt-5">
  <form method="post" action="/first_app/about/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputName"
        aria-describedby="nameHelp"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>

    <div class="mb-3">
      <select class="form-select" aria-label="Rating" name="select">
        <option selected>Select Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="3">4</option>
        <option value="3">5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
